{% extends 'AymardBundle::admin/admin_base.html.twig' %}

{% trans_default_domain "AvanzuAdminTheme" %}


{% block body %}
    <h1>{{'page.index.title'|trans}}</h1>

    <table id="table" class="table table-striped table-bordered" >
        <thead>
            <tr>
                <th>{{ 'page.title'|trans}}</th>
                {# <th>{{ 'page.description'|trans}}</th> #}

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.title }}</td>
                {# <td>{{ page.description }}</td> #}
                
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-primary" href="{{ path('admin_page_show', { 'id': page.id }) }}">{{'admin.show'|trans}}</a>
                        </li>
                        <li>
                            <a class="btn btn-primary" href="{{ path('admin_page_edit', { 'id': page.id }) }}">{{'admin.edit'|trans}}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#table').DataTable();
        });
    </script>
{% endblock %}
