{% extends 'AymardBundle::admin/admin_base.html.twig' %}

{% trans_default_domain "AvanzuAdminTheme" %}

{% block body %}
    <h1>{{ 'page.new.title'|trans}}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('admin_page_index') }}">{{'admin.back'}}</a>
        </li>
    </ul>
{% endblock %}
