<!DOCTYPE html>
<html lang="fr">
<head>
  
  <meta charset="UTF-8"/>
  
  {% if page.metas is defined %}
    {% for meta in page.metas %}
      <meta property="{{ meta.property }}" content="{{ meta.content }}" />
      {% endfor%}
  {% endif %}
  
  <title>
    {% block title %}
      {{ page.title | trans({}, 'titles') | capitalize }} - {{ 'painter_name' | trans | upper }}
    {% endblock %}
  </title>

  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  
  {% block stylesheets %}

    {% stylesheets  filter="cssrewrite"
    '@bootstrap_css'
    '@AymardBundle/Resources/public/css/main.css'
    '@AymardBundle/Resources/public/css/slider.css'
    '@AymardBundle/Resources/public/css/photo-modal.css'
    '@AymardBundle/Resources/public/css/contact-modal.css'
    '@AymardBundle/Resources/public/css/spinner.css'
    '@AymardBundle/Resources/public/css/language_switcher.css'
    '@AymardBundle/Resources/public/css/scrollbar.css'
    '@AymardBundle/Resources/public/css/menu.css'
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
  {% endblock %}
</head>



{% block left_slider %}
  <div id="c-menu__close" class="c-menu__close glyphicon glyphicon-backward is-active"></div>
  <div id="c-menu--slide-left" class="c-menu c-menu--slide-left is-active">
    {% block left_slider_content %}
      {{ (page.slug) |trans({}, 'sliders') }}    
    {% endblock %}
  </div>
{% endblock %}

{% block body %}
  <div id="mosaic">
    {% block mosaic %}
      {% for photo in photos %}
        <a style="margin:5px" data-toggle="modal" data-target="#photo-modal">
          <img class="img-thumbnail photo-thumbnail photo-modal-event" src="{{ ('img/' ~ photo.file) | imagine_filter('photoThumb')   }}" alt="{{ photo.description}}"  title="{{ photo.description}}" />
        </a>
      {% endfor %}
    {% endblock %}
  </div>

  {% include "AymardBundle::commons/photo-modal.html.twig" %}
  
{% endblock %}



<footer>
  {% block menu %}
    {% include 'AymardBundle::commons/menus.html.twig' %}
  {% endblock %}
</footer>


{% block javascripts %}
  {% javascripts 
  '@AymardBundle/Resources/public/vendors/jquery/dist/jquery.min.js'
  '@bootstrap_js'
  '@AymardBundle/Resources/public/vendors/imagesloaded/imagesloaded.pkgd.min.js'
  '@AymardBundle/Resources/public/js/left-slider.js'    
  '@AymardBundle/Resources/public/js/modal.js'
  '@AymardBundle/Resources/public/js/main.js'
  '@AymardBundle/Resources/public/js/author.js'
  %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}