<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1,requiresActiveX=true" />

    <link rel="shortcut icon" href="http://static.parastorage.com/client/pfavico.ico" type="image/png" />
    <link rel="canonical" href="http://www.leforestierdequillien.com/" />
        
    <meta name="fragment" content="!" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <meta property="og:title" content="{{ page.metatitle }}" />
    <meta property="og:url" content="{{ page.metaurl }}" />
    <meta property="og:description" content="{{ page.metadescription }}" />
    <meta property="og:site_name" content="{{ page.metasitename }}" />
    <meta property="og:image" content="{{ page.metaimage }}" />
    <meta name="title" content="{{ page.metatitle }}" />

    <meta charset="UTF-8" />
        
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        
        {% block javascripts %}{% endblock %}
        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
