{% extends 'AymardBundle::base.html.twig' %}

{% block javascripts %}
    {% javascripts 
        '@AymardBundle/Resources/public/vendors/jquery/dist/jquery.min.js'
        '@bootstrap_js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets  filter="cssrewrite"
        '@bootstrap_css'
        '@AymardBundle/Resources/public/css/main.css'
        '@AymardBundle/Resources/public/css/menu.css'
        '@AymardBundle/Resources/public/css/biography.css'
        '@AymardBundle/Resources/public/css/contact-modal.css'
    %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}


{% block left_slider %}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="biography">
            <div class="title">
                <div>
                    <h3>AYMARD LE FORESTIER DE QUILLIEN</h3>
                </div>
                <div>
                    <h4>{{ 'artiste_peintre' | trans | upper }}</h4>
                </div>
            </div>
            <div class="right_content">
                
                <div class="right_content_top">
                    <div>
                        {% for photo in photos %}
                    	    <img class="thumbnail" src="{{ asset('img/' ~ photo.file ~ '') }}"/>
                        {% endfor %}
                    </div>
            		<div>
                    	<p>{{ 'biography.p1' | trans }}</p>
                    	<p>{{ 'biography.p2' | trans }}</p>
                        <p>{{ 'biography.p3' | trans }}</p>
                    </div>
                </div>
                <div class="right_content_bottom">
                    <p>{{ 'biography.p4' | trans }}</p>
                    <p>{{ 'biography.p5' | trans }}</p>
                    <p>{{ 'biography.p6' | trans }}</p>
                    <p>{{ 'biography.p7' | trans }}</p>
                    <p>{{ 'biography.p8' | trans }}</p>
                    <p>{{ 'biography.p9' | trans }}</p>
                    <p>{{ 'biography.p10' | trans }}</p>
                    <p>{{ 'biography.p11' | trans }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

