{% extends 'AymardBundle::admin/admin_base.html.twig' %}

{% block body %}
    <h1>Image edit</h1>

    {{ form_start(edit_form ) }}
        {{ form_widget(edit_form.description)}}
        {{ form_widget(edit_form.page)}}
        <img class="thumbnail" class="" height="300px" src="{{ asset('img/' ~ image.file ~ '' ) }}"/>
        <div class="form-inline">
            <input class="btn btn-primary" type="submit" value="Save" />
            <a class="form-control btn btn-primary" href="{{ path('admin_image_index') }}">Back to the list</a>    
            {{ form_start(delete_form,  {'attr': {'class': 'form-group'}}) }}
                <input class="pull-right form-control btn btn-primary" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    {{ form_end(edit_form) }}

    
    <script>
        $('#image_edit_description').wysihtml5({
            toolbar: {
                fa: true,
                html: true,
                color: true
            }
         });
    </script>
{% endblock %}
