{% extends 'AymardBundle::admin/admin_base.html.twig' %}

{% block body %}
    <h1>Image edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form.description)}}
        {{ form_widget(edit_form.image_order)}}
        {{ form_widget(edit_form.page)}}
        
        <input class="btn btn-primary" type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <img class="thumbnail" height="300px" src="{{ asset('img/' ~ image.file ~ '' ) }}"/>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('admin_image_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-primary" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    
    <script>
        $('#image_edit_description').wysihtml5({
            toolbar: {
                fa: true,
                html: true,
                color: true
            }
         });
    </script>
{% endblock %}

