{% extends 'AymardBundle::admin/admin_base.html.twig' %}

{% block body %}
    <h1>Image list</h1>

    <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Ordre</th>
                <th>Description</th>
                <th>Actions</th>
                <th>Photo</th>
                <th>Page</th>
                
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.order }}</td>
                <td>{{ image.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-primary"  href="{{ path('admin_image_show', { 'id': image.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-primary"  href="{{ path('admin_image_edit', { 'id': image.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
                <td>
                    <img class="img-thumbnail photo-thumbnail" src="{{ ('img/' ~ image.file) | imagine_filter('photoThumb')   }}"/>
                </td>
                <td>
                    {{ image.page.title }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-primary"  href="{{ path('admin_image_new') }}">Create a new entry</a>
        </li>
    </ul>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $('#table').DataTable();
        });
    </script>
{% endblock %}
